/* main.css */

/*
  We use semantic HTML elements (header, main, footer, etc., https://www.semrush.com/blog/semantic-html5-guide/).
  This is useful for other developers, SEO, and - more importantly - accessibility.
  The CSS selectors below modify each semantic component in the order they appear
  in the page.
*/

@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');

/* These are the variables used in this style. Modify these values as needed. */
:root {
    --cold-red-font-color: #9F2135;
    --warm-red-font-color: #D4376B;
    --gray-color: #C0C0C0;
    /* This is the same color as the CWL website menu background. */
    --medium-gray: rgb(244, 244, 244);
    --light-gray-color: #FAFAFA;
    --font-family: 'Roboto',sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: var(--font-family);
}

/*
  The header.

  It contains three columns. On the left we display the logo. In the middle the Conference Name.
  And on the right hand side we have information about venue and date. The middle column width
  is dynamic, and stretches to fill.
*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    background-color: var(--light-gray-color);
    align-items: stretch;
    border-bottom: 0.5vw solid var(--warm-red-font-color);
}

header > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5vw;
}

/* First column and children elements. */

header div:nth-child(1) {
    width: 25%;
}

header div:nth-child(1) img {
    max-width: 100%;
}

/* Middle column and children elements. */

header div:nth-child(2) {
    width: 50%;
}

header div:nth-child(2) h1 {
    text-align: center;
    font-weight: bold;
    font-size: 6vw;
    font-family: 'Roboto Slab',serif;
    color: var(--warm-red-font-color);
    text-shadow: var(--gray-color) 1px 1px 3px;
    padding: 0;
    margin: 0;
}

header div:nth-child(2) > h1 > a {
    color: inherit;
    text-decoration: none;
}

header div:nth-child(2) span:nth-child(2) {
    font-size:1em;
    text-shadow: 1px 1px 3px #c0c0c0;
}

header div:nth-child(2) span:nth-child(3) {
    font-size:0.67em;
    color: #B5314C;
    font-weight: lighter;
}

/* Third column and children elements. */

header div:nth-child(3) {
    width: 25%;
    background-color: var(--warm-red-font-color);
    align-self: end;
    overflow: hidden;
    position: relative;
}

header div:nth-child(3):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 0 16px 16px;
    border-style: solid;
    border-color: var(--light-gray-color) var(--cold-red-font-color) var(--cold-red-font-color) var(--light-gray-color);
    background: var(--cold-red-font-color);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    /* Firefox 3.0 damage limitation */
    display: block; width: 0;
}

header div:nth-child(3) > span {
    margin: 0 auto;
    padding: 0.25rem 0;
    display: inline-block;
    color: white;
    font-size: 2vw;
}

/*
  The navigation menu.
*/

nav {
    align-items: center;
    background-color: var(--medium-gray);
    border-bottom: 1px solid var(--gray-color);
}

nav > ol {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ol > li {
    padding: 0;
    margin: 0;
}

nav > ol > li > a {
    color: gray;
    background-color: var(--medium-gray);
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 1rem;
    display: block;
}

nav > ol > li > a.current {
    color: var(--warm-red-font-color);
}

nav > ol > li > a:hover {
    color: var(--warm-red-font-color);
}

/*
  The main content.
*/

main {
    display: flex;
    flex-direction: column;
    flex-flow: initial;
    align-items: center;
    background-color: white;
}

main > article {
    max-width: 80%;
    margin: 0 auto;
    flex: 1;
}

main > article > section {
    margin: 4rem 0;
}

main > article > section > h1,
main > article > section > h2,
main > article > section > h3,
main > article > section > h4 {
    color: var(--warm-red-font-color);
    margin: 1rem 0;
}

main > article > section > h2 {
    font-size: 3vw;
}

main > article > section > h3 {
    font-size: 2.5vw;
}

main > article > section > h4 {
    font-size: 2vw;
}

main > article > section > h1 > a,
main > article > section > h2 > a,
main > article > section > h3 > a,
main > article > section > h4 > a {
    color: inherit;
    text-decoration: none;
}

main > article > section > h1 > a:hover:after,
main > article > section > h2 > a:hover:after,
main > article > section > h3 > a:hover:after,
main > article > section > h4 > a:hover:after{
    content: '\0a\00B6';
    font-weight: normal;
    opacity: 0.8;
}

main > article > section > p {
    line-height: 1.5rem;
    margin: 0.5rem 0;
    text-align: justify;
}

main > article > section > * > i {
    font-style: italic;
}

main > article > section > ul, main > article > section > ol {
    margin: 0.5rem 0 0.5rem 2rem;
}

main > article > section > ul > li, main > article > section > ol > li {
    display: list-item;
    list-style: circle;
    margin: 0.75rem 0;
}

main > article > section a[href="#body"] {
    color: darkgray;
    text-decoration: underline;
}

main > article > section a[href="#body"]:before {
    content: '\2191';
}

/*
  The footer.
*/

footer {
    margin: auto 0 0 0;
    padding: 2rem 0;
    align-items: center;
    color: gray;
    background-color: var(--light-gray-color);
}

footer > * {
    max-width: 80%;
    margin: 0 auto;
    text-align: right;
}

footer p {
    line-height: 1.5rem;
    margin: 0.5rem 0;
}

footer ol, footer ul {
    margin: 0.5rem 0 0.5rem 0.5rem;
    display: inline;
}

footer ol > li, footer ul > li {
    display: inline list-item;
    list-style: circle;
    margin: 0.75rem 0;
}

footer a, footer a:active, footer a:visited {
    color: gray;
}

footer p > a:hover {
    color: black;
}

/*
  Helper elements and classes.
*/

strong {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}
