/* main.css */

/*
  We use semantic HTML elements (header, main, footer, etc., https://www.semrush.com/blog/semantic-html5-guide/).
  This is useful for other developers, SEO, and - more importantly - accessibility.
  The CSS selectors below modify each semantic component in the order they appear
  in the page.
*/

@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');

/* These are the variables used in this style. Modify these values as needed. */
:root {
    --cold-red-font-color: #9F2135;
    --warm-red-font-color: #D4376B;
    --gray-color: #C0C0C0;
    --light-blue-color: #CADEFC;
    --link-color: royalblue;
    /* This light green is the same used in Google Maps background. */
    --light-green-color: #D3F8E2;
    /* This is the same color as the CWL website menu background. */
    --medium-gray: rgb(244, 244, 244);
    --light-gray-color: #FAFAFA;
    --black-color: #333333;
    --font-family: 'Roboto',sans-serif;
    --font-size: 14px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: calc(var(--font-size) + 0.390625vw);
    color: var(--black-color);
}

a {
    color: var(--link-color);
}

/*
  The header.

  It contains three columns. On the left we display the logo. In the middle the Conference Name.
  And on the right hand side we have information about venue and date. The middle column width
  is dynamic, and stretches to fill.
*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    background-color: var(--light-gray-color);
    align-items: stretch;
    border-bottom: 0.5vw solid var(--warm-red-font-color);
}

header > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5vw;
}

/* First column and children elements. */

header div:nth-child(1) {
    width: 25%;
}

header div:nth-child(1) img {
    max-width: 100%;
}

/* Middle column and children elements. */

header div:nth-child(2) {
    width: 100%;
}

header div:nth-child(2) h1 {
    text-align: center;
    font-weight: bold;
    font-size: 8vw;
    font-family: 'Roboto Slab',serif;
    color: var(--warm-red-font-color);
    text-shadow: var(--gray-color) 1px 1px 3px;
    padding: 0;
    margin: 0;
}

header div:nth-child(2) > h1 > a {
    color: inherit;
    text-decoration: none;
}

header div:nth-child(2) span:nth-child(2) {
    font-size:1em;
    text-shadow: 1px 1px 3px #c0c0c0;
}

header div:nth-child(2) span:nth-child(3) {
    font-size:0.67em;
    color: #B5314C;
    font-weight: lighter;
}

/* Third column and children elements. */

header div:nth-child(3) {
    width: 25%;
}

/*
  The navigation menu.
*/

nav {
    align-items: center;
    background-color: var(--medium-gray);
    border-bottom: 1px solid var(--gray-color);
}

nav > ol {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ol > li {
    padding: 0;
    margin: 0;
}

nav > ol > li > a {
    color: rgb(128, 128, 128);
    background-color: var(--medium-gray);
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 1rem;
    display: block;
}

nav > ol > li > a:hover {
    color: var(--warm-red-font-color);
}

/* TBD: This cannot be done via CSS-only; only with JavaScript. */
nav > ol > li > a.current {
    color: var(--warm-red-font-color);
}

/*
  The main content.
*/

main {
    display: flex;
    flex-direction: column;
    flex-flow: initial;
    align-items: center;
    background-color: white;
}

main > article {
    flex: 1;
}

main > article > section {
    padding: 1rem 0;
    width: 100vw;
    overflow: hidden;
}

main > article > section > div {
    width: 90%;
    margin: 0 auto;
}

main > article > section.light-gray-background {
    background-color: var(--light-gray-color);
}

main > article > section.gray-background {
    background-color: var(--gray-color);
}

main > article > section.light-blue-background {
    background-color: var(--light-blue-color);
}

main > article > section.light-green-background {
    background-color: var(--light-green-color);
}

main > article > section h1,
main > article > section h2,
main > article > section h3,
main > article > section h4 {
    color: var(--warm-red-font-color);
    margin: 1.5rem 0 1.5rem 0;
}

main > article > section h1 {
    font-size: clamp(2rem, 3.5vw, 3.5rem);
}

main > article > section h2 {
    font-size: clamp(1.75rem, 3vw, 3rem);
}

main > article > section h3 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

main > article > section h4 {
    font-size: clamp(1.25rem, 2vw, 2rem);
}

main > article > section h1 > a,
main > article > section h2 > a,
main > article > section h3 > a,
main > article > section h4 > a {
    color: inherit;
    text-decoration: none;
}

main > article > section h1 > a:hover:after,
main > article > section h2 > a:hover:after,
main > article > section h3 > a:hover:after,
main > article > section h4 > a:hover:after{
    content: '\0a\00B6';
    font-weight: normal;
    opacity: 0.8;
}

main > article > section p {
    line-height: 1.5;
    margin: 0.5rem 0;
    /* text-align: justify; */
}

main > article > section i {
    font-style: italic;
}

main > article > section ul, main > article > section ol {
    margin: 0.5rem 0 0.5rem 2rem;
}

main > article > section ul > li, main > article > section ol > li {
    display: list-item;
    list-style: circle;
    margin: 0.75rem 0;
}

main > article > section a[href="#body"] {
    color: darkgray;
    text-decoration: underline;
}

main > article > section img {
    width: 100%;
    max-width: 100vw;
}

main > article > section address {
    line-height: 2rem;
    margin: 0.5rem 0;
}

main > article > section #program-week-1 h2,
main > article > section #program-week-2 h2 {
    padding-bottom: .5rem;
    border-bottom: 0.5vw solid var(--warm-red-font-color);
}

/* Submission button */
/* Ref: https://uiverse.io/adamgiebl/smart-moth-68, by adamgiebl, MIT License */
a.btn {
    font-family: inherit;
    font-size: 20px;
    background: var(--warm-red-font-color);
    color: white;
    padding: 0.7em 1em 0.7em 0.4em;
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    text-decoration: none;
}

a.btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

a.btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

a.btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

a.btn:hover svg {
    transform: rotate(45deg) scale(1.1);
}

a.btn:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}


/* For contrast. */
main > article > section.light-blue-background a[href="#body"] {
    color: var(--black-color);
}

main > article > section a[href="#body"]:before {
    content: '\2191';
}

/*
  The footer.
*/

footer {
    margin: auto 0 0 0;
    padding: 2rem 0;
    align-items: center;
    color: rgb(128, 128, 128);
    background-color: var(--light-gray-color);
}

footer > * {
    max-width: 80%;
    margin: 0 auto;
    text-align: right;
}

footer p {
    line-height: 1.5rem;
    margin: 0.5rem 0;
}

footer ol, footer ul {
    margin: 0.5rem 0 0.5rem 0.5rem;
    display: inline;
}

footer ol > li, footer ul > li {
    display: inline list-item;
    list-style: none;
    margin: 0.75rem 0;
}

footer ol > li::after, footer ul > li::after {
    content: '/';
    margin-left: 0.5rem;
}

footer ol > li:last-child::after, footer ul > li:last-child::after {
    content: '';
    margin-left: 0;
}

footer a, footer a:active, footer a:visited {
    color: rgb(128, 128, 128);
}

footer p > a:hover {
    color: black;
}

/*
  Helper elements and classes.
*/

strong {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 1rem;
}

.row + .row{
    margin-top: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.center-aligned {
    text-align: center;
}

/* A fake title for when we need to emphasize, but do not need a new Heading. */
.fake-title {
    color: var(--warm-red-font-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.fake-title > a {
    color: inherit;
    text-decoration: none;
}

.fake-title > a:hover:after{
    content: '\0a\00B6';
    font-weight: normal;
    opacity: 0.8;
}

/* The banner text. */

.banner-text {
    background-color: var(--warm-red-font-color);
    align-self: end;
    overflow: hidden;
    position: relative;
}

.banner-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 0 16px 16px;
    border-style: solid;
    border-color: var(--light-gray-color) var(--cold-red-font-color) var(--cold-red-font-color) var(--light-gray-color);
    background: var(--cold-red-font-color);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    /* Firefox 3.0 damage limitation */
    display: block; width: 0;
}

.banner-text > * {
    margin: 0 auto;
    padding: 0.25rem 0;
    display: inline-block;
    color: white;
    font-size: 1.5rem;
}

div.cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.cards > div.card {
    overflow: hidden;
    border: 1px solid var(--gray-color);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    flex: 0 1 22%;
}

div.cards > div.card > div.avatar {
    width: 100%;
}

div.cards > div.card > div.avatar > img {
    display: block;
}

div.cards > div.card > div.title {
    text-align: center;
    padding: 0.5rem 0.25rem;
    border-top: 1px solid var(--gray-color);
}

div.cards > div.card > div.title > a {
    color: var(--warm-red-font-color);
    text-decoration: none;
    font-weight: bold;
}

div.cards > div.card > div.title > a:hover {
    text-decoration: underline;
}

/* Hide the second banner. This is displayed only on smaller viewports. */

main > article .banner-text {
    display: none;
}

/*
    For smaller viewports, like mobile.
 */

@media only screen and (max-width: 768px) {

    header {
        border: none;
    }

    header div:nth-child(1) {
        width: 50%;
    }

    header div:nth-child(2) {
        width: 100%;
        text-align: right;
        align-items: end;
        margin-right: 1rem;
    }

    header div:nth-child(2) h1 {
        color: var(--warm-red-font-color);
    }

    /* Hide the first banner. This is displayed only on wider viewports. */
    header div.banner-text {
        display: none;
    }

    /* Instead of a burger menu (hard to make it accessible, correctly, we use a horizontal-to-vertical menu approach.
       Ref: https://www.accede-web.com/en/guidelines/rich-interface-components/hamburger-menu/.
    */
    nav > ol {
        max-width: 100%;
        display: block;
    }

    nav > ol > li + li:not(:first-child) {
        border-top: 1px solid var(--gray-color);
    }

    nav > ol > li:hover {
        background-color: var(--light-gray-color);
    }

    nav > ol > li > a {
        max-width: 90%;
        margin: 0 auto;
        padding: 1rem 0;
        background-color: transparent;
    }

    main > article .banner-text {
        display: block;
        margin: 0;
        padding: 1rem 0;
    }

    main > article .banner-text > * {
        display: block;
        font-size: 1.5rem;
        width: 90%;
        margin: 0 auto;
    }

    main > article .banner-text:before {
        display: none;
    }

    footer > * {
        max-width: 100%;
        margin: 0 1rem;
        text-align: left;
    }

    footer ol > li, footer ul > li {
        display: list-item;
        list-style: circle;
        margin: 0.75rem 1rem;
    }

    footer ol > li::after, footer ul > li::after {
        content: none;
        margin: 0;
    }

    .column {
        display: block;
        flex: unset;
    }

    div.cards > div.card {
        /* -1rem to compensate for gutters and padding. */
        flex: 0 0 calc(33.333% - 1rem);
    }
}

/*
For the program tables
 */

table {
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

table th {
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

table .tg-f7v4 {
    background-color: #c0c0c0;
    border-color: #000000;
    text-align: left;
    vertical-align: top
}

table .tg-73oq {
    border-color: #000000;
    text-align: left;
    vertical-align: top
}

table .tg-zefg {
    background-color: #c0c0c0;
    border-color: #000000;
    color: #000000;
    text-align: left;
    vertical-align: top
}
